.background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  transition: 0.3s all linear;
  cursor: pointer;
}

.card > h4 {
  margin-bottom: 10px;
}

.card > p {
  margin: 0 0 5px 0;
}

.card:hover {
  box-shadow: 0 0 30px #aaa;
}
